#carousel-container {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 3;
	transform: translate(-50%, -50%);
	background-color: grey;
	height: 576px;
	width: 1024px;
	overflow: hidden;

	border: 5px solid #ddd;
  	border-radius: 2px;
}

#carousel-strip {
	transition: 0.4s;
	position: absolute;
	left: 0px;
	display: flex;
	flex-direction: column;
}

.carousel-section {
	height: 576px;
	width: 1024px;
}

.carousel-section img {
	position: absolute;
	max-height: 100%;
    width: auto;
    height: 100%;
    top: 50%;     
    left: 50%;
    transform: translate( -50%, -50%);
}

.text-box {
	position: absolute;
    z-index: 2;
    font-family: Open Sans;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#right {
	bottom: 15%;     
    right: 6.5%;
}

.line {
	font: Open Sans;
	font-size: 20px;
	font-weight: 600;
	text-align: right;
	padding-bottom: 10px;
	letter-spacing: 1.5px;
}

.subject {
	font: Open Sans;
	font-size: 50px;
	font-weight: 700;
	text-align: right;
	padding: 5px 30px 10px 30px;
	letter-spacing: 3px;
	margin-bottom: 40px;
}

#s1 {
	font-family: Bree Serif; 
	background-color: #2B7DE1;
}

.button {
	padding: 10px 15px 10px 15px;
	border-radius: 5px;
}

.button:hover {
	cursor: pointer;
}

#course {
	background-color: #F2A900;
}

#course:hover {
	background-color: #FF7600;
}



